.mainbody{
    background-color: cornflowerblue;
}

.dashboardbody{
 background-color: lightcoral;
}

.expansionsbody{
    background-color: cadetblue;
}

.cardsbody{
    background-color: rgb(162, 226, 228);
}

.newuserbody{
    background-color: rgb(168, 215, 255);
}

.btn-custom{
    background-color: rgb(100, 163, 142);
    color: #977777;
    &:hover {
        background-color: rgb(100, 148, 132);
    }
}

.accounticon{
    width: 16px;
    height: 16px;
}

.accdropdown{
justify-content: space-between;
}

.accountcreationcontainer{
    max-width: 80%;
    justify-content: center;
    margin-top: 20px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    text-align: center;
    padding-top:15px ;
    padding-bottom: 15px;
}

.tradecardimg{
    width: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Adjust the gap between items */
    margin: 5%;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  










